@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-accent: hsl(25, 97%, 53%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-60: hsl(217, 12%, 63%);
  --color-neutral-50: hsl(216, 12%, 54%);
  --color-primary-dark: hsl(213, 19%, 18%);
  --color-primary-vdark: hsl(216, 12%, 8%);
  --color-neutral-highlight: hsla(217, 12%, 63%, 0.1);
  --color-neutral-hover: hsla(217, 12%, 90%, 0.3);
}

body  {
  height: 100vh;
  width: 100vw;
}
.rating-cmpnt {
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
}

@media (max-width: 750px){

  body {
    background-color: var(--color-primary-vdark);
    display: grid;
    place-items: center;
  }

  .rating-cmpnt {
    height: 50%;
    width: calc(100% - 14vw);
    background-color: var(--color-primary-dark);
    padding: 7vw;
    border-radius: 15px;
    color: white;
  }

  #star-icon {
    background-color: var(--color-neutral-highlight);
    border-radius: 50%;
    padding: 3vw;
  }

  .rating-cmpnt-heading {
    margin: 2vh 0;
    font-size: 22px;
    color: var(--color-neutral-100);
  }

  .rating-cmpnt-body {
    color: var(--color-neutral-60);
    font-size: 13px;
    line-height: 18px;
  }

  .ratings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4vh 0;
  }

  .rating-bubble {
    --bubble-size: 10vw;
    border-radius: 50%;
    height: var(--bubble-size);
    width: var(--bubble-size);
    display: flex;
    align-items: center; justify-content: center;
    background-color: var(--color-neutral-highlight);
    transition: 100ms ease;
  }

  .rating-cmpnt-submit {
    width: 100%;
    padding: 2vh;
    border-radius: 30px;
    outline: 0; border: 0;
    background-color: var(--color-primary-accent);
    color: var(--color-neutral-100);
    font-size: 15px; font-weight: 700;
    letter-spacing: 3px;
  }
  .rating-cmpnt-submit:focus, .rating-cmpnt-submit:active {
    background-color: var(--color-neutral-100);
    color: var(--color-primary-accent);
  }
}

@media (min-width: 750px){
  body {
    background-color: var(--color-primary-vdark);
    display: grid;
    place-items: center;
  }
  .rating-cmpnt {
    width: 50vw;
    height: 50vh;
    background-color: var(--color-primary-dark);
    border-radius: 20px;
    padding: 4vh;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
  }
  #star-icon {
    background-color: var(--color-neutral-highlight);
    border-radius: 50%;
    padding: 1vw;
  }
  .rating-cmpnt-heading {
    color: var(--color-neutral-100);
    margin: 3vh 0;
    font-size: 24px;
  }
  .rating-cmpnt-body {
    font-size: 15px;
    line-height: 20px;
    color: var(--color-neutral-60);
  }

  .ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4vh 0;
  }

  .rating-bubble {
    background-color: var(--color-neutral-highlight);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 5vmin;
    color: var(--color-neutral-60);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
  }
  .rating-bubble:hover, .rating-bubble.focus {
    cursor: pointer;
  }

  .rating-cmpnt-submit{
    border: 0;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    color: var(--color-neutral-100);
    background-color: var(--color-primary-accent);
    font: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    transition: 200ms ease;
  }
  .rating-cmpnt-submit:hover, .rating-cmpnt-submit:focus{
    cursor: pointer;
    color: var(--color-primary-accent);
    background-color: var(--color-neutral-100);
  }
  .rating-cmpnt-submit:focus, .rating-cmpnt-submit:active {
    background-color: var(--color-neutral-100);
    color: var(--color-primary-accent);
  }
}


@media (min-width: 1200px) {
  body {
    background-color: var(--color-primary-vdark);
    display: grid;
    place-items: center;
  }
  .rating-cmpnt {
    width: 28vw;
    height: 50vh;
    background-color: var(--color-primary-dark);
    border-radius: 20px;
    padding: 4vh;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
  }
  #star-icon {
    background-color: var(--color-neutral-highlight);
    border-radius: 50%;
    padding: 1vw;
  }
  .rating-cmpnt-heading {
    color: var(--color-neutral-100);
    margin: 3vh 0;
    font-size: 1.9vw;
  }
  .rating-cmpnt-body {
    font-size: 1.05vw;
    line-height: 1.4vw;
    color: var(--color-neutral-60);
  }

  .ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4vh 0;
  }

  .rating-bubble {
    background-color: var(--color-neutral-highlight);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 5vmin;
    color: var(--color-neutral-60);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
  }
  .rating-bubble:hover, .rating-bubble.focus {
    cursor: pointer;
  }

  .rating-cmpnt-submit{
    border: 0;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    color: var(--color-neutral-100);
    background-color: var(--color-primary-accent);
    font: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    transition: 200ms ease;
  }
  .rating-cmpnt-submit:hover, .rating-cmpnt-submit:focus{
    cursor: pointer;
    color: var(--color-primary-accent);
    background-color: var(--color-neutral-100);
  }
}